

.card {
  width: 80%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column !important;
  }

  .mr-auto {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .card {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .mr-auto {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
}